@import '/src/colors';

.game-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.title {
    border-bottom: 1px solid $blue;
    cursor: pointer;
}

.next-round-button-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.row {
    border-bottom: 2px solid $blue;
}

.small {
    max-width: 60px;
}

.btn {
    border: 1px solid $blue;
    width: 150px;
    font-size: 16px;
}

.btn:focus {
    border: 1px solid $darkBlue;
    background-color: $blue;
    width: 150px;
    color: $white;
    font-size: 16px;
}

.first {
    background-color: $green;
}

.last {
    background-color: $pastelRed;
}

.icon {
    color: $darkBlue
}

.toBeFilled {
    background-color: $orangeFaded;
    border-radius: 5px;
    border-color: $black;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    mat-table {
        width: 80vw;
    }
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    mat-table {
        width: 80vw;
    }
  }