<div class="game-container">
  <h1 class="title" (click)="navigateToHomescreen()">
    {{ gameState.game.name }} - round {{ gameState.players[0].currentRound }}
  </h1>
  <mat-table [dataSource]="gameState.players" class="table">
    <!-- Position Column -->
    <ng-container matColumnDef="position" style="width: 20px">
      <mat-header-cell *matHeaderCellDef [ngClass]="'small'">
        Pos.
      </mat-header-cell>
      <mat-cell *matCellDef="let player" [ngClass]="getNgClass(player)">
        {{ player.position }}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{ player.name }} </mat-cell>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell *matCellDef="let player; let i = index">
        <input [ngClass]="player.roundFilled ? '' : 'toBeFilled'" #input matInput type="number" autoComplete="off"
          placeholder="{{ player.score }}" style="width: 35px" (change)="saveScore($event, i)" />
      </mat-cell>
    </ng-container>

    <!-- Extra Column -->
    <ng-container matColumnDef="extra">
      <mat-header-cell *matHeaderCellDef>
        {{ game.getExtraLabel() }}
      </mat-header-cell>
      <mat-cell *matCellDef="let player" (click)="game.onClickExtra(player.id, gameState)">
        {{ player.extra }}</mat-cell>
    </ng-container>

    <!-- total Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{ player.total }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div class="button-container">
    <div class="return-round-button-container">
      <button class="btn" mat-button (click)="onEndGame()">
        End game
        <mat-icon class="icon">exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</div>