<div class="game-container">
  <h1 class="title" (click)="navigateToHomescreen()">{{gameState.game.name}} - round {{gameState.players[0].currentRound}}</h1>
  <mat-table [dataSource]="gameState.players" class="table">
    <!-- Position Column -->
    <ng-container matColumnDef="position" >
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.position + 1}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.name}} </mat-cell>
    </ng-container>
  
    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell *matCellDef="let player; let i = index"> 
        <input matInput type="number" autoComplete="off"
        placeholder={{player.score}} style="width: 45px;" (change)="saveScore($event, i)">
      </mat-cell>
    </ng-container>
  
    <!-- Nullen Column -->
    <ng-container matColumnDef="nullen">
      <mat-header-cell *matHeaderCellDef> Nullen </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.nullen}}</mat-cell>
    </ng-container>
  
    <!-- total Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.total}}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
    *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <div class="button-container">
    <div class="next-round-button-container">
      <button mat-raised-button color="primary" (click)="onNextRound()">Next round</button>
    </div>
    <div style="width: 30px;"></div>
    <div class="next-round-button-container">
      <button mat-raised-button color="primary" (click)="onEndGame()">End game</button>
    </div>
  </div>
</div>
