@import '/src/colors';

.toggle-component-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.toggle-bg {  
  display: inline-block;  
  height: 2rem;  
  width: 2.2rem;  
  background-color: $blue;  
  border-radius: 3px;  
  position: relative;

  .toggle {    
    width: 1.2rem;    
    display: inline-block;    
    background-color: white;    
    position: absolute;    
    left: 0.01rem;    
    top: 0;    
    bottom: 0;    
    margin: 0.1rem;    
    border-radius: 3px;    
    box-shadow: 2px 2px 12px #00000050;  
    cursor: pointer;
  }
}

.toggle-on {
  background-color: $red;
}