<div class="home-container">
  <h1 class="title">Vercruysse gameboard</h1>
  <mat-divider class="divider"></mat-divider>
  <div class="radio-group">
    <app-radiobutton
      *ngFor="let game of games"
      [value]="game"
      [(ngModel)]="selectedGame"
    >
    </app-radiobutton>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div *ngIf="selectedGame?.type === 1">
    <app-toggle (toggledTo)="onToggle($event)"></app-toggle>
  </div>
  <div class="name-input-container">
    <input
      type="text"
      autoComplete="off"
      placeholder="Name"
      (change)="addName($event)"
    />
    <h2>Players {{ names.length > 0 ? "(" + names.length + ")" : "" }}</h2>
    <mat-list
      *ngIf="names.length > 0"
      class="names-list"
      role="list"
      #namesList
    >
      <mat-list-item *ngFor="let name of names">
        <div class="row">
          <div class="name-row">
            <div class="number-entry">{{ names.indexOf(name) + 1 }}.</div>
            <div>
              {{ name }}
            </div>
          </div>
          <button
            mat-icon-button
            matTooltip="Remove"
            (click)="deleteName(name)"
            aria-label="Remove"
          >
            <mat-icon class="x-btn">cancel</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="next-container">
    <button
      class="btn"
      mat-button
      (click)="startGame()"
      [disabled]="names.length === 0"
    >
      <!-- <mat-icon>arrow-right</mat-icon> -->
      Next
      <mat-icon class="icon">arrow_forward</mat-icon>
    </button>
    <button
      *ngIf="names.length > 1"
      class="btn"
      mat-button
      (click)="randomizePlayersList()"
    >
      <!-- <mat-icon>arrow-right</mat-icon> -->
      Randomizer
      <mat-icon class="icon">shuffle</mat-icon>
    </button>
    <button
      *ngIf="gameInMemory"
      class="btn"
      mat-button
      (click)="returnToGame()"
    >
      <!-- <mat-icon>arrow-right</mat-icon> -->
      Reload game
      <mat-icon class="icon">cached</mat-icon>
    </button>
  </div>
</div>
