@import '/src/colors';

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 100%;
    margin: 10px;
    color: $blue;
}

.name-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.extra-container {
    width: 100%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.name-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number-entry {
    width: 25px;
}

mat-list {
    flex-grow: 1;
    width: 100%;
}

.next-container {
    width: 100%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    border: 1px solid $blue;
    width: 150px;
    font-size: 16px;
}

.btn:hover {
    border: 1px solid $darkBlue;
    background-color: $blue;
    width: 150px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.x-btn {
    color: $red;
}

.icon {
    color: $darkBlue
}

.hall-of-fame-icon {
    color: $gold;
}

.icon:hover {
    color: white;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.names-list {
    border: 1px solid $blue;
    border-radius: 10px;
    margin-bottom: 45px;
}

h2 {
    border-bottom: 1px solid $blue;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .home-container {
        width: 80vw;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .home-container {
        width: 80vw;
    }
}