<div class="end-container" [@enter1]>
  <h1 class="title" (click)="navigateToHomescreen()">End of game</h1>
  <div class="winner-container" *ngIf="winners.length > 1" [@rubberBand]="animationState">
    <h2>🥇 Winners: 🥇</h2>
    <div class="winners">
      <h3 *ngFor="let winner of winners; let i = index">
        {{ i == 0 ? "" : "🏆 " }}{{ winner?.name }}
      </h3>
    </div>
  </div>
  <div class="winner-container" *ngIf="winners.length <= 1" [@enter2] [@rubberBand]="animationState">
    <h2>🥇 Winner: {{ winners[0].name }} 🥇</h2>
  </div>

  <mat-table [dataSource]="gameState.players" class="table">
    <!-- Position Column -->
    <ng-container matColumnDef="position" style="width: 20px">
      <mat-header-cell *matHeaderCellDef [ngClass]="'small'">
        Pos.
      </mat-header-cell>
      <mat-cell *matCellDef="let player" [ngStyle]="getNgStyle(player)">
        {{ player.position }}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let player">{{ player.name === "Chadia" ? "🏆" : ""}} {{ player.name }}</mat-cell>
    </ng-container>

    <!-- Extra Column -->
    <ng-container matColumnDef="extra">
      <mat-header-cell *matHeaderCellDef>
        {{ getExtraLabel() }}
      </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{ player.extra }}</mat-cell>
    </ng-container>

    <!-- total Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{ player.total }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div class="button-container">
    <div class="next-round-button-container">
      <button class="btn" mat-button (click)="onReturnToGame()">
        Return to game
        <mat-icon class="icon">arrow_back</mat-icon>
      </button>
    </div>
  </div>
</div>