$blue: #389EEB;
$darkBlue: #065D9E;
$brokenWhite: #F8F7F3;
$darkWhite: #F0EFEB;
$red: #f44336;
$white: white;
$green: #77dd77;
$greenFaded: #77dd7746;
$pastelRed: #ff6961;
$black: black;
$orange: #FAC898;
$orangeFaded: #fac79877;
$gold: #ffd700;